$minWidth: 320px;
$maxWidth: 1600px;

$fontFamily: 'IBM Plex Sans', sans-serif;
$fontSize: 16px;

$mainColor: #333333;
$bgColor: #ffffff;
$inputBorder: #94a5b3;
$inputBorderActive: steelblue;
$errorText: red;