.task {
  margin: 0.4em;
  background-color: #f4f4f4f4;
  padding: 0.5em 1em;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid #0F82FC;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-icon-close {
  transition: all 0.3s ease 0s;
  &:hover{
    opacity: 0.8;
  }
}