@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,200,300,regular,italic,500,600,700&display=swap&subset=cyrillic-ext);

@import './app/styles/variables';
@import './app/styles/reset.scss';

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto;
  color: $mainColor;
  background-color: $bgColor;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid $inputBorderActive;
  padding: 30px;
  border-radius: 5px;
}
.btn {
  display: inline-block;
  background: #0F82FC;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  transition: all 0.3s ease 0s;
}
.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}
.btn:hover {
  opacity: 0.8;
}

.btn-block {
  display: block;
  width: 100%;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
  padding:  0px 0px 0px 7px;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  border: 1px solid $inputBorder;
  border-radius: 5px;
  transition: all .3s ease 0s;
  &:hover{
    border: 1px solid $inputBorderActive;
  }
  &:focus{
    border: 1px solid $inputBorderActive;
  }
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px
}

.form-control-check label {
  flex: 0 1 110px;
}

.form-control-check input {
  flex: 0 1 20px;
  height: 20px;
}

.error-message {
  color: $errorText;
}